body{
    text-align:center;
    background-color:rgb(255, 187, 0);
    color:rgb(0, 0, 0)
}
p{
    font-size:30px;
}
#dark-btn{
    margin-right:20px;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-radius:20px;
    height:30px;
    width:200px;
    cursor:pointer
}
